.app-btns{
  display: flex;
  justify-content: space-around;  
}
.custom-button{
    height: 10vh;
    width: 15%;
    margin-top: 5%;
    color: #fff;
    font-weight: 500;
    border-radius: 8px;
}
.material-symbols-outlined{
    color: #fff;
    font-size: 40px;
    margin-left: 15%;
}
.modal-actions,
.modal-actions1{
    height: 7vh;
    width: 8vw;
    background-color: #a31e17;
    border-radius: 5px;
}
.modal-actions-green,
.modal-actions-green1{
    height: 7vh;
    width: 8vw;
    background-color: #28820d;
    border-radius: 5px;
}
.modal-actions1,
.modal-actions-green1{
margin-left: 12%;
}
button 
{
  border: 0;
}
.btn-actions{
    display: flex;
    justify-content: center;
    align-items: center;
}