.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
}
.modal{
    background-color: #c9261a;
    display: flex;
    justify-content:center;
    align-items: center;
}
.modal-overlay{
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
    background-color: #fc3021;
}
.modal-content{
    color: #fff;
    font-weight: 400;
    margin-top: 10%;
}
.modal-content1{
    color: #fff;
    font-weight: 400;
}
.modal-all-contents{
    height:30vh;
}
h2{
    color: #fff; 
    font-weight: 600;
}

.buttons-modal-actions{
    display: flex;
    justify-content: center;
    margin-top: 8%;
}